#pg-header {
    padding: 60px 0;
    position: relative;
    /*background-color: #bcdeee;*/
}

#pg-body {
    padding-bottom: 60px;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

.table-head [class*="col-"] {
    /*font-weight: bold;*/
    font-size: 1.5em;
    background-color: rgba(16,31,154,.15);
}
.table-head [class*="col-"]:first-letter {
    font-size: 1.3em;
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
  font-size: 1.2em;
}

.table-entry-past [class*="col-"] {
}

.table-entry-odd [class*="col-"] {
  background-color: #FFFFFF;
}

.table-entry-even [class*="col-"] {
  background-color: #E1EEf4;
}


